[Unit]
Description=Vulcand kubernetes sync
After=vulcand.service docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p
ExecStartPre=-/usr/bin/docker rm %p
ExecStartPre=/usr/bin/docker pull timsmart/kube-vulcand
ExecStart=/usr/bin/docker run --rm --name %p \
	timsmart/kube-vulcand \
	-pods "ws://${COREOS_PRIVATE_IPV4}:8080/api/v1/namespaces/default/pods?watch=true" \
	-etcd "http://${COREOS_PRIVATE_IPV4}:2379"
ExecStopPost=-/usr/bin/docker stop %p
ExecStopPost=-/usr/bin/docker rm %p
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15

[X-Fleet]
Global=true
MachineMetadata=role=master
