apiVersion: v1
kind: ReplicationController
metadata:
  name: ceph-mon
  labels:
    app: ceph-mon
spec:
  replicas: 3
  template:
    metadata:
      labels:
        app: ceph-mon-shard
    spec:
      containers:
        - name: ceph-mon-shard
          image: ceph/mon
          env:
            - name: MON_IP
              value: "{{item['private_ip_address']}}"

          volumeMounts:
            - name: cephconfig
              mountPath: "/etc/ceph"
            - name: cephdata
              mountPath: "/var/lib/ceph"
      volumes:
        - name: cephconfig
          hostPath:
            path: "/etc/ceph"
        - name: cephdata
          hostPath:
            path: "/var/lib/ceph"
