[Unit]
Description=CephFS data mount
After=ceph-mds.service

[Mount]
What={% for host in groups.node %}{{hostvars[host].private_ip_address}}{% if not loop.last %},{% endif %}{% endfor %}:/
Where=/mnt/cephfs
Type=ceph
Options=name=admin,secret={{admin_key}}

[X-Fleet]
Global=true
MachineMetadata=role=node
